.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            }
    }

    .admin-content {
        .admin-header{
            height: 40px;
            border: 1px solid green;
        }
        .admin-main {

        }
    }
}