.login-container {
    .header{
        height: 45px;
        text-align: center;
        border: 1px solid red
    }
    .title {
        font-size: 25px;
        padding: 20px 0
    }
    .welcome {
        font-size: 20px;
        padding: 10px 0
    }
    .content-form {
        border: 1px solid green
    }
}